 /* eigen stijl */
 header {
     text-align: center;
     background-color: lighten(teal, 10%);
 }
.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .welcome__section1 {
        grid-column: 1/-1;
        text-align: center;

        .section1__head {
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .welcome__section2 {
        text-align: center;

        .section2__head {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .section2__link {
            .section2__img {
                width: 75%;
                object-fit: contain;
            }
        }

    }

    .welcome__section3 {
        text-align: center;

        .section3__head {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .section3__link {
            .section3__img {
                width: 75%;
                object-fit: contain;
            }
        }
    }
}

 .navbar-expand {
     .navbar-nav{
         .nav-link{
            padding-left: .11em !important;
             padding-right: .11em !important;
        }
     }
 }
.nav-alpha {
     background-color: darken(#008080, 5%);
 }
 @media screen and (min-width: 1024px){
     .penny-container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 1rem;
     }
 }
@media screen and (min-width: 1200px){
    .penny-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
 @media screen and (min-width: 1920px) {
     .penny-container {
         grid-template-columns: repeat(4, 1fr);
     }

 }

